
<body>
	<!--MENU DE INICIO-->
	<div class="inicio">
		<img class="logo-corazon" src="../../images/logo.png">
		<div class="decorazon">
			<h1>deCorazon</h1>
		</div>
		<div class="busqueda">
			<input class="buscar" type="text" name="buscar">
			<nav class="ingresar-registrarse-publicar">
				<a target="_blank" href="./enlaces/Publicar.html" class="publicar-colecta">Publicar Colecta</a>
				<a href="" class="ingresar">Ingresar</a>
				<a target="_blank" href="/user/" class="registrarse">Registrarse</a>
			</nav>
		</div>
	</div>
</body>	